{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "amd": true,
    "es6": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "rules": {
    "quotes": [1, "single"],
    "no-undef": 1,
    "global-strict": 0,
    "no-extra-semi": 1,
    "no-underscore-dangle": 0,
    "no-console": 0,
    "no-unused-vars": 1,
    "no-trailing-spaces": [1, { "skipBlankLines": true }],
    "no-unreachable": 1,
    "no-alert": 0,
    "no-plusplus": [0, { "allowForLoopAfterthoughts": true }],
    "eqeqeq": ["error", "always"],
    "class-methods-use-this": "off",
    "no-loop-func": 0,
    "no-param-reassign": 0,
    "no-restricted-syntax": 0,
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [],
      "specialLink": [ "hrefLeft", "hrefRight" ],
      "aspects": [ "noHref", "invalidHref", "preferButton" ]
    }],
    "react/destructuring-assignment": 0,
    "jsx-a11y/no-autofocus": 0
  },
  "plugins": ["jest"]
}
